*{
    padding: 0;
    margin: 0;

}


.postAdder{
    margin-left: 40px;
}


.tableRow{
    // background-color: red;
    cursor:  pointer;
    
}


// post_assing

.post_assgn_dropdn{
    background: #16db93;
    padding: 13px;
    border-radius: 5px;
    border-color: black 24px;
    margin: 10px 10px ;
    option{
        background-color: white;
        padding: 10px;
        
    }
}






// post_of_usres>>>>>>>>>>>>>>>>>>>>>>>>
.posts_for_user_main{
    padding: 30px;
    .posts_for_user_info{
        font-family: 'Barlow',sans-serif;
        padding: 20px;    
        background-color: #16db93;
        border-radius: 10px;
        p{
            color: white;
        }

        .active_status {
            color: red; /* Color for active status */
            font-weight: bold;
        }
        
        .inactive_status {
            color: #888; /* Color for inactive status */
        }
        
    }
.posts_for_user{
    background-color: black;
    padding: 20px;

    margin: 30px 20px;
    border-radius: 10px;
    font-family: 'Barlow',sans-serif;
    h2{
        margin-left: 50px;
        color: rgb(255, 205, 111);
        font-weight: bold;
    }
    p{
        margin-left: 50px;
        color:wheat;
        margin-top: 13px;
        font-weight: bold;
    }
    .posts_done_btn {
        background-color: #5dafc2;
        color: #fff; /* Text color */
        border: none; /* Remove border */
        margin-top: 16px;
        padding: 12px 20px; /* Add padding */
        margin-left: 50px;
        font-size: 16px; /* Font size */
        border-radius: 6px; /* Rounded corners */
        cursor: pointer; /* Show pointer cursor on hover */
        transition: background-color 0.3s ease; /* Smooth transition */
        &:hover{
            background-color: #4b8b9e; /* Darker color on hover */
        }
    }
    
    
    

}






}














